/* GLOBAL STYLES */

body {
  font-family: "Montserrat";
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 80px;
  overflow: hidden;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

h3 { 
  font-family: 'Playfair Display', serif; 
  font-style: italic;
}

p {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}

.logo {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  color: #2d0a4e;
}

.darkPurple {
  color: #2d0a4e;
}

.bold {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

.marginTop {
  margin-top: 5%;
}

.marginBottom {
  margin-bottom: 5%;
}

.footer {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: lightgray;
  justify-content: center;
  align-items: center;
}

.bookTitle {
  font-size: 20;
  font-family: 'Playfair Display', serif; 
}

.background-lilac {
  background-color: #e3d7ee;
}

.genre {
  margin-bottom: 3.5%;
  text-align: center;
  background-color: lightgray;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  color: #2d0a4e;
 }
 
 .cart {
  margin-bottom: 3.5%;
  text-align: center;
  background-color: lightgray;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  color: #2d0a4e;
 }

.singleBook{
  margin-top: 5%;
  margin-bottom: 5%;
}

.darkPurpleNav {
  background-color: #2d0a4e;
  font-family: "Montserrat";
  color: orange; 
}

.loginCard {
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
 } 

.boldCarousel {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  color: #2d0a4e;
  margin-left: 5%;
  margin-bottom: 30px;  
  margin-top: 30px;

}

.carouselGenre {
  background-color: #e3d7ee;
  padding: 20px;
  margin-bottom: 5%;
}

.carouselCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genreCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5%;
}

.all-books {
  width: 10vw;
}

.carousel-books {
  justify-content: center;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 10px 10px 20px grey;
}

.book-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
  margin: 20px 20px 20px 20px;
}

.cartBook{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
  margin: 20px 20px 20px 20px;
}

.book-info {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  margin-bottom: 1vh;
}

.user-table table,
th,
td {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even) { 
  background: lightgray;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: lavender;
}

.cart-table table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: lavender;
}

.cart-table tr {
  background: white
}

.cart-badge {
  position: absolute;
  margin-left: 40px;
  /* margin-right: 40; */
  margin-top: 20px;
  /* margin-bottom: 30px; */
}