body {
  font-family: "Montserrat";
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
}

h3 { 
  font-family: 'Playfair Display', serif; 
  font-style: italic;
}

p {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.genre {
  text-align: center;
  background-color: lightgray;
}

.singleBook{
  margin-top: 5%;
  margin-bottom: 5%;
}

.darkPurple {
  color: #2d0a4e;
}

.darkPurpleNav {
  background-color: #2d0a4e;
}

.logo {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  color: #2d0a4e;
}

.bold {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

.boldCarousel {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  color: #2d0a4e;
  margin-left: 5%;
  margin-bottom: 30px;

}

.carouselGenre {
  background-color: #e3d7ee;
  padding: 20px;
  margin-bottom: 5%;
}

.carouselCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genreCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5%;
}

.marginTop {
  margin-top: 5%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
}

.all-books {
  width: 10vw;
}

.carousel-books {
  justify-content: center;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 10px 10px 20px grey;
}

.book-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
  margin: 0px 50px 0px 50px;
}

.book-info {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw;
  margin-bottom: 1vh;
}

.user-table table,
th,
td {
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even) { 
  background: rgb(228, 226, 226); 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: lavender;
}
